<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/add">Add a Todo Item</a><br/>
<table>
<!--     <tr> tag defines a row in an HTML table, The cells inside it are defined using the <th> (a header cell) or the <td> (a standard cell). -->
    <tr>
        <th style="padding:10px">Task Name</th>
        <th style="padding:10px">Due Date</th>
        <th style="padding:10px">Priority</th>
    </tr>
    <tr th:each="todo : ${todos}">
        <td style="padding:10px" th:text="${todo.taskname}"></td>
        <td style="padding:10px" th:text="${todo.duedate}"></td>
        <td style="padding:10px" th:text="${todo.priority}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${todo.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${todo.id})}">Details</a> -
            <a th:href="@{/delete/{id}(id=${todo.id})}">Delete</a>
        </td></tr>
</table>

</body>
</html>