<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/add">Add a Car</a><br/>
<table>
<!--     <tr> tag defines a row in an HTML table, The cells inside it are defined using the <th> (a header cell) or the <td> (a standard cell). -->
    <tr>
        <th style="padding:10px">Year</th>
        <th style="padding:10px">Make</th>
        <th style="padding:10px">Model</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td style="padding:10px" th:text="${car.year}"></td>
        <td style="padding:10px" th:text="${car.make}"></td>
        <td style="padding:10px" th:text="${car.model}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${car.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${car.id})}">Details</a> -
            <a th:href="@{/delete/{id}(id=${car.id})}">Delete</a>
        </td></tr>
</table>

</body>
</html>